// Toolbar

.toolbar {
  display: block;
  vertical-align: bottom;
  background-color: $white;
  padding: $toolbar-padding-tb $toolbar-padding-lr;
  height: $toolbar-height;
  border: none;
  text-align: left;
  z-index: 2;
  box-shadow: 0 4px 8px $grey;

  span {
    display: inline-block;
    vertical-align: baseline;
    line-height: normal;
  }
}
