//
// Dimens
//

// Bottom sheet
$bottom-sheet-height: 100%;
$bottom-sheet-width: 100%;
$bottom-sheet-padding: 0px;

// Toolbar
$toolbar-height: 110px;
$toolbar-width: 100px;
$toolbar-padding: 16px;

// Botton
$button-padding: 8px;
$button-font-size: 14px;
$button-margin: 0px;
$button-border: none;

// Msg
$input-padding: 8px;
$input-font-size: 14px;
$input-border: none;
$input-margin: 0px;

$div-msgs-input-padding-tb: 14px;
$div-msgs-input-padding-lr: 14px;
$div-msgs-input-border-tb: 1px solid $grey;

$div-msgs-padding-tb: 0px;
$div-msgs-padding-lr: 0px;

$div-msg-padding-tb: 14px;
$div-msg-padding-lr: 14px;
$div-msg-margin-tb: 14px;
$div-msg-margin-lr: 14px;