//
// Fonts
//

$light: 300;
$normal: 400;
$bold: 700;

$font-family: 'Raleway', sans-serif;

.display4 {
  font-weight: $light;
  font-size: 9.333334rem;
}

.display3 {
  font-weight: $normal;
  font-size: 4.666667rem;
}

.display2 {
  font-weight: $normal;
  font-size: 3.75rem;
}

.display1 {
  font-weight: $normal;
  font-size: 2.833334rem;
}

.headline {
  font-weight: $normal;
  font-size: 2rem;
}

.title {
  font-weight: $bold;
  font-size: 1.66667rem;
}

.body1 {
  font-weight: $normal;
  font-size: 1.166667rem;
}

.body2 {
  font-weight: $bold;
  font-size: 1.166667rem;
}

.caption {
  font-weight: $normal;
  font-size: 1rem;
}

.button {
  font-weight: $bold;
  font-size: 1.166667rem;
}
