//
// Bottom sheet
//

.bottom-sheet {
  padding: $bottom-sheet-padding;
  width: $bottom-sheet-width;
  margin: 0 auto;
  z-index: 0;
  position: absolute;
  left: -50;
  top: 150px;
}

.bottom_sheet_background {
  background-color: $grey-lighten-2;
  position: fixed;
  z-index: -1;
}