@import 'utils/colors';
@import 'utils/dimens';
@import 'utils/fonts';
@import 'components/bottom-sheet';
@import 'components/msg';
@import 'components/button';
@import 'structures/toolbar';

body {
  font-family: $font-family;
  color: $black;
  font-size: 14px;
  margin: 0;
  padding: 0px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: $grey-lighten-2;
}

h1, h2, h3, h4, h5 {
  color: $lightBlue;
}

span {
  display: inline-block;
  vertical-align: middle;

  line-height: normal;
}

a:link {
  color: $lightBlue;
  text-decoration: none;
}

/* Visited link */
a:visited {
  color: $lightBlue;
  text-decoration: none;
}

/* Mouse over link */
a:hover {
  color: $lightBlue;
  text-decoration: none;
}

/* Selected link */
a:active {
  color: $lightBlue;
  text-decoration: none;
}
