@(es: Option[String])

@main(None) {

  <div class="div-msg">Welcome to PlayChat!</div>
  <div class="div-msg">@es.getOrElse("")</div>

  <div class="div-msg">What is your name?</div>
  <div class="div-msg">
    <form method="post" id="user" action="@routes.Chat.user">
      I'm <input type="text" id="username" name="username" placeholder="Kason">
      <button type="submit" id="submit">Say Hello</button>
    </form>
  </div>

  <div id="div-error">Oh please tell me your name :(</div>

  <script type="text/javascript">
    $(function () {

      // Show error if empty msg
      $("#user").submit(function () {
        if ($("#username").val().length === 0) {
          $("#div-error").show();
          return false;
        } else {
          $("#div-error").hide();
        }
      })
    })
  </script>

}
