@(greets: Seq[String])(user: User)(messages: Seq[String])

@main(None) {

  <div class="div-msg">Welcome to PlayChat!</div>

  @for(greet <- greets) {
    <div class="div-msg">@greet</div>
  }

  @for(message <- messages) {
    <div class="div-msg">@message </div>
  }

  <div class="div-user">
    <form method="post" id="user" action="@routes.Users.login">

      <input type="text" id="username" name="username"
      placeholder="@Messages("login.username.placeholder")"
      value="@user.username">

      <input type="password" id="password" name="password"
      placeholder="@Messages("login.password.placeholder")"
      value="@user.password">

      <button type="submit" id="submit">@Messages("login.label.login")</button>

      <a href="/signup">
        <button type="button" id="submit">@Messages("login.label.signup")</button>
      </a>
    </form>
  </div>

}
